registry=https://registry.npmjs.org/
@nara:registry=http://registry.naraway.io/repository/npm-naraway-releases/
@nara-way:registry=http://registry.naraway.io/repository/npm-naraway-releases/
@nara-drama:registry=http://registry.naraway.io/repository/npm-naraway-releases/

//registry.naraway.io/repository/npm-naraway-releases/:_authToken=NpmToken.6265edf1-ce5d-39e5-8f30-4cbda274aeeb

strict-ssl=false
always-auth=true
network-timeout=100000
legacy-peer-deps=true